<div >
<ng-container >
    You have {{AmountOfTasks}} task
    Select Date from which you want stats :<br>
    <input type="date" [(ngModel)]="firstDate">
    <input type="date" [(ngModel)]="secondDate">
    <!-- {{title}} -->
    <button class="btn " (click)="DateCheck()">test</button>
    
</ng-container>
<ng-container *ngIf="taskInRange">
    <p>
        You have made {{amountOfTaskWithInRange.length}}
         between {{firstDate}} and {{secondDate}}
    </p>
        

You have completed {{AmountOfCompletedTaskInRange}} of the {{amountOfTaskWithInRange.length}}<br>
Your Average Completion percentage of those Task are {{percentWithInRange}}% 

</ng-container>
</div>

