<ng-container *ngIf="!deleteMode">
<button class="btn bg-primary text-primary-content" (click)="showButton()">Create</button> &nbsp;
<button class="btn bg-primary text-primary-content" (click)="showDeleteMode()">Delete</button>
</ng-container>
<ng-container *ngIf="showMakeNewNote">
   
    <div class="form-control">
        <!-- <label class="label">
          <span class="label-text">Your bio</span>
          <span class="label-text-alt">Alt label</span>
        </label> -->
        <label class="label" for="note" >
        <textarea id="note"[(ngModel)]="body" class="textarea textarea-bordered h-24 border-secondary-focus" placeholder="Bio"></textarea>
    </label>
    <button type="submit" class="bg-primary text-primary-content" (click)="createANote()">Make</button>
      </div>

</ng-container>

<!-- <button (click)="deleteNote(id)">Clear Note</button> -->

<ng-container *ngFor="let note of listOfNotes">
     <div class="form-control">
        <label class="label" for="note" >
            
   <textarea id="note" class="textarea textarea-accent border-accent" [(ngModel)]="note.body" ></textarea> 
        </label> 
        <!-- <div class="w-auto "> -->
            <!-- {{note.body}}
        </div> -->
        <button class="btn bg-primary text-primary-content" (click)="editNote(note)">Save</button> &nbsp;
        <ng-container *ngIf="deleteMode">
            <button class="btn bg-primary text-primary-content"  (click)="deleteNote(note.id)">Delete this note</button>
            
        </ng-container>
     </div>
    </ng-container>

