<p>task-info works!</p>
<div>
    <h2>Title:</h2>
    {{taskInfo.title}} <br>
    <h2>Description:</h2>
    {{taskInfo.description}}<br>
    <h2>Date task started:</h2>
    {{taskInfo.start_date}}<br>
    <h2>Target end date for task:</h2>
    {{taskInfo.target_end_date}}<br>
    <h2>Percent of task complete:</h2>
    {{taskInfo.completion_percentage}}<br>
    <h2>Priority level to finish:</h2>
    {{taskInfo.priority_level}}<br>
    <button (click)="editTask()">Edit</button>
    <button (click)="deleteTask()">Delete</button>
    <button (click)="hideInfo()">Hide</button>
</ng-container>

<ng-container *ngIf="editMode">
    <input type="text"[(ngModel)]="editTitle">
    <input type="text"[(ngModel)]="editDescription" >
    <input type="date"[(ngModel)]="editTargetDate">
    <input type="number"[(ngModel)]="editCompletionPercentage">
    <input type="number"[(ngModel)]="editPriorityLevel">
<br><br>
<button (click)="saveChanges()">Save</button>
<button (click)="cancelChanges()">Cancel</button>

</ng-container>
