<div class="min-h-[50vh]]">
  <div class="flex justify-center">
  
 
<div class="dropdown dropdown-hover ">
    <label tabindex="0" class="btn p-2 bg-accent text-accent-content">Task/Goal<br>View Options</label>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
      <li>
        <button class="btn bg-accent text-accent-content" (click)="almostComplete()">Closes to completion!</button>
    </li>
      <li>
        <button class="btn bg-accent text-accent-content" (click)="waysToGo()">Furthest away from completion</button>
      </li>
      <li>
        <button class="btn bg-accent text-accent-content" (click)="findHighPriority()">Most Important to complete</button>
      </li>
      <li>
        <button class="btn bg-accent text-accent-content" (click)="closeToTargetDate()">Upcoming deadlines</button>
      </li>
    </ul>
  </div>
  <app-create-new-modal></app-create-new-modal>
</div>
  <div class="text-center mt-5 text-2xl">
    {{viewOptionTitle}}

  </div>

<div class="flex justify-evenly mt-16 shadow-s shadow-base-300 ">
  
<div class="flex flex-row  gap-16">
<ng-container *ngFor="let task of filteredList">
        <div class="flex-auto w-1/3">
          <div class="card w-96 bg-secondary shadow-xl shadow-base-300 text-secondary-content">
              <div class="card-body">
                  <h2 class="card-title">{{task.title}}</h2>
                  <p>{{task.description}}</p>
                  <div class="card-actions justify-end">
                      <div class="radial-progress " style="--value:{{task.completion_percentage}};">{{task.completion_percentage}}%</div>
                      priority level {{task.priority_level}}
                      target completion date: {{task.target_end_date}}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
</div>

</div>
