<!-- <div #base class="flex items-center justify-center min-h-screen bg-secondary "> -->
   
    <div #wrapper class="w-96 bg-neutral shadow-xl shadow-neutral-focus">
            <header class="flex items-center justify-between pt-6 pl-7 pb-2.5">
                <p class="text-3xl">
                {{month[currentMonth]}} {{currentYear}}

                <!-- <button class="btn" (click)=TaskCompleted()>test</button> -->
                 </p>
                <div >
                    <button (click)="previousMonth()" class="btn btn-circle ">❮</button> 
                    <button (click)="nextMonth()" class="btn btn-circle">❯</button>
                </div>
            </header>
        <div #calendar class="p-1.5">

            <ul #weeks class="flex flex-wrap text-center ">
            <li *ngFor="let abv of weekDays" class=" w-[3.3rem] text-2xl" >
                {{abv}}
            </li>
            </ul>
            <ul #days class="flex flex-wrap text-center">
                <li *ngFor="let num of daysBeforeCurrentMonth"  class="w-[3.3rem] mb-3 mt-1 text-slate-600 cursor-pointer  hover:bg-info-content">
                    {{num}}
                </li>
                <li *ngFor="let num of daysInCurrentMonth; let i = index"  class="w-[3.3rem] mb-3 mt-1 cursor-pointer  hover:bg-info-content" >
                    <div *ngIf="i == todaysNum - 1" class="text-black font-bold bg-accent rounded-full">
                        {{num}}
                    </div>
                    <div *ngIf="i !== todaysNum - 1">
                        {{num}}
                    </div>


                    
            
                </li>
            <li *ngFor="let num of daysAfterCurrentMonth"  class="w-[3.3rem] mb-3 mt-1 text-slate-600 cursor-pointer  hover:bg-info-content">
                {{num}}
            </li>

            </ul>

        </div>
    </div>
<!-- </div> -->