

<div class="flex justify-center">
    <app-create-new-modal (sendTask)="makeATask($event)"></app-create-new-modal>
  <!-- <app-edit-delete-modal></app-edit-delete-modal> -->
</div>
<br>

   <div class="overflow-x-auto bg-primary ">
       <table class="table table-zebra w-full">
           <!-- head -->
           <thead class="">
               <tr>
                   <th></th>
                   <th>Title</th>
                   <th>Description</th>
                   <th>Start Date</th>
                   <th>Target End Date</th>
                   <th>End Date</th>
                   <th>Completion Percentage</th>
                   <th>Priority Level</th>
                   <th><app-task-info></app-task-info></th>

                </tr>
            </thead>
            <tbody>
          <ng-container *ngFor="let task of ListOfTask;let i = index;">
        <!-- row 1 -->
        <tr>
          <th>{{i+1}}</th>
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          <td>{{task.start_date}}</td>
          <td>{{task.target_end_date}}</td>
          <td>{{task.end_date}}</td>
          <td>{{task.completion_percentage}}%</td>
          <td>{{task.priority_level}}</td>
          <td><app-edit-delete-modal [taskID]="task.id"></app-edit-delete-modal></td>

        </tr>
       
    </ng-container>
      </tbody>
    </table>
  </div>